psycopg2==2.9.9 ; python_version >= "3.10" and python_version < "4.0"
faker==20.1.0 ; python_version >= "3.10" and python_version < "4.0"
pymongo==4.6.1 ; python_version >= "3.10" and python_version < "4.0"